.upper{
  display: flex;
  justify-content: space-around;
}

.head{
  display: flex;
  justify-content: space-around;
}

.findjob{
  display: flex;
  justify-content: space-around;
}

.resume{
  display: flex;
  justify-content: space-around;
}

.uploadres{
  display: flex;
  justify-content: space-around;
}

.ucemp{
  display: flex;
  justify-content: space-around;
}

.uploadres{
  display: flex;
  justify-content: space-around;
}

.uploadres{
  display: flex;
  justify-content: space-around;
}


