<link rel="stylesheet" href="/stylesheets/home.css">
<div class="main">
    <div class="upper">
        <div class="head">
            <h1 class="head1">Job</h1>
            <h1 class="head2">Portal</h1>
        </div>
        <div class="findjob">
            <a href="/company/viewcompanyprofile" class="com">View Profile</a><br>
            <a href="/company/addjob" class="com">Add Job</a><br>
            <a href="/company/viewcompanyaddedjobs" class="com">View Add Job</a><br>
            <a href="/company/viewuserapplyjob" class="com">View Applied Applications</a><br>
            <a href="/company/updateprofile" class="com">Accepted Applications</a><br>

        </div>
        <div class="resume">
            <a href="" class="com">View Resumes</a>
        </div>
        <div class="uploadres">
            <a href="/company/updateprofile" class="com">Update Profile</a><br>
            <a href="/company/editcmpprofile">Edit Profile</a>
        </div>
        <div class="ucempo">
            <p>{{company.companyName}}</p>
            <a href="/company/logout">Log Out</a>
        </div>
    </div>
    <div class="lower">
        <div class="lower1">
            <p class="para1">Best Talent. Zero Cost. Easy Hiring.</p>
            <p class="para2">
                Job Portal is the one stop platform to hire job ready, industry
                trained talent for your organization. Hire the best candidates for
                Digital Marketing, Data Science, Full Stack Java Developer & more
                with one click & at zero cost.
            </p>
        </div>
        <div class="lower2">
            <img src="https://sl-blog.simplilearn.com/wp-content/uploads/2022/10/Group-76511.png" alt="image"
                class="img1" />
        </div>
    </div>
</div>