<link rel="stylesheet" href="/stylesheets/cmpupdateprof.css">

<div class="conta">
    <h1>UPDATE PROFILE</h1>
    <form action="/company/updateprofile" method="post" enctype="multipart/form-data">
        <h2>Upload image</h2>
        <input type="file" name="image" id="" accept=".jpg">
        <h2>About</h2>
        <textarea name="about" id="" cols="30" rows="10"></textarea>
        <h2>Address</h2>
        <textarea name="address" id="" cols="30" rows="10"></textarea>
        <h2>Vision</h2>
        <textarea name="vision" id="" cols="30" rows="10"></textarea>
        <h2>Mission</h2>
        <textarea name="mission" id="" cols="30" rows="10"></textarea><br>
        <button class="button-21">Submit</button>
    </form>
</div>