{{#each appliedjobs}}

<div>
    <p>job title:{{jobTitle}}</p>
    <p>company name:{{companyName}}</p>
    <p>applied date:{{applicationDate}}</p>
    <p>status:{{status}}</p>
</div>

{{/each}}
<a href="/userhomepage">Back</a>