<link rel="stylesheet" href="/stylesheets/homepage.css">


<body>
    <div class="jobnav">
        <h1><span class="span1">Job</span> <span class="span2"> Portal</span></h1>
        <div class="left">
            <a href="/view-user-application">Appiled job</a>
            <a href="">Company</a>
            <a href="">Review</a>
        </div>
        <div class="right">
            <a href="/signup" class="b1 signup-btn button-8">Signup</a>
            <a href="/loginpage" class="b1 loginbtn button-8">Login</a>
        </div>
    </div>
    <div class="middle">
        <img src="https://tse3.mm.bing.net/th?id=OIP.LekC04RI8k-psAJKuvIM7wHaFy&pid=Api&P=0" alt="">
        <div class="about">
            <h4 class="abouthead">About</h4>
            <p class="aboutm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eligendi atque culpa,
                consectetur corrupti nam quisquam aspernatur perferendis rerum saepe, sint et tempore magnam eum
                incidunt
                eaque architecto magni
                ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eligendi atque culpa, consectetur
                corrupti
                nam quisquam aspernatur perferendis rerum saepe, sint et tempore magnam eum incidunt eaque architecto
                magniut
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia provident voluptate distinctio
                deleniti facilis explicabo, dicta excepturi sequi ut ullam cumque exercitationem? At tempore sed,
                ducimus cumque modi alias quo.</p>
        </div>
    </div>
    <div class="companyinfo">
        <div class="black">
            <div>
                <h2>Not Logined.Signup Your Company?<a href="/company/signinlogin">Sign Up</a></h2>
                <h3>Login Your Company.! </h3><br>
                <a href="/company/signinlogin"> <button class="button-52" role="button">Login</button></a>
            </div>
        </div>
    </div>
    <hr></hr>
    <div class="flutter">
     <h1 class="jobh">Job Portal</h1>
       <div class="details">
        <h3>Gmail: vyshnavi@gmail.com</h3>
        <h3>phone : 69634995598</h3>
        <h3>Address : pulichod metro,ghbkidd,0016.</h3>
       </div>
       <div class="otherdetail">
        <h3>FAQ</h3>
        <h3>Know more</h3>
       </div>
    </div>

</body>