<link rel="stylesheet" href="stylesheets/home.css">


<div class="main">

    <div class="sidenav">
        <p class="p" >{{user.userName}}</p>
            <a href="/logoutuser">Log Out</a>
            <hr>
              <a href="/viewjobuser" class="com">Find Job</a><br>
              <hr>
            <a href="viewcompanyprofile" class="com">Company Profile</a><br>
              <hr>
            <a href="/viewuserprofile" class="com">View Profile</a><br>
              <hr>
            <a href="/viewuserapplication">Applied Jobs</a>
              <hr>
                <a href="" class="com">Post Your Resume</a><br>
              <hr>
                <a href="/userprofile" class="com">Update Profile</a><br>







    </div>
    <div class="remaind">
     
        
        <img src="https://sl-blog.simplilearn.com/wp-content/uploads/2022/10/Group-76511.png" alt="image"/>
        <p class="ab">About</p>
        <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis reprehenderit doloribus rerum perferendis ipsam ullam tenetur asperiores suscipit soluta deserunt? Asperiores repellendus officiis recusandae porro provident, dolore aliquam modi odio? Officiis ipsum minus necessitatibus officia voluptatem rerum alias distinctio itaque ab quas quis dicta quibusdam, pariatur odio esse natus voluptatum nulla accusantium modi quod vitae corporis sit ad. Pariatur voluptatum magni nisi atque temporibus ad vel soluta alias! Eius temporibus quae suscipit sit odio asperiores porro! Sequi voluptatibus perspiciatis quo soluta optio quod porro dignissimos qui debitis animi cupiditate adipisci laboriosam repellendus voluptates iusto eligendi cum magni, deleniti, corporis at, laudantium veniam. Aspernatur vitae aliquam quasi earum a maiores, consectetur at pariatur ut perferendis neque nam. Praesentium reprehenderit ratione a alias voluptas? Fuga quasi dolorum atque nesciunt provident. Ipsum commodi eveniet ad! Eos quis repudiandae numquam voluptatum nemo ab, quia quo nobis sunt molestias enim quasi, odio voluptas nisi, consequuntur dolore reprehenderit eum cupiditate. A, pariatur? Aliquam molestiae, consequatur cumque necessitatibus minima perspiciatis non! Eveniet reprehenderit exercitationem, praesentium voluptatum dolores eos dolor corporis maiores autem reiciendis alias veritatis ad deleniti cupiditate quidem quis eaque fugiat! Culpa praesentium dolorem eius fugit et nihil error molestiae, maxime, corrupti debitis repellat sunt. Asperiores?</p>
    </div>
</div>


            {{!--edit --}}


   